/* scroll */
html {
  scroll-behavior: smooth;
}

/* -------------------------------------------------------- TEXT */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,600;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  font-family: "Plus Jakarta Sans", sans-serif;
  /* border: 1px solid black; */
}
.ff_p {
  font-family: "Pacifico", cursive !important;
}

section {
  /* 100px */
  margin: 6.25rem 0;
}

p {
  font-size: 14px;
  color: #000;
  line-height: 1.5em;
}

.abu {
  color: #999;
}
h1 {
  font-size: 64px;
  font-weight: 600;
}
h2 {
  font-size: 48px;
  font-weight: 600;
}
h3 {
  font-size: 36px;
  font-weight: 600;
}
h4 {
  font-size: 28px;
  font-weight: 600;
}
h5 {
  font-size: 24px;
  font-weight: 600;
}
.fs_12 {
  font-size: 12px;
}
.fs_14 {
  font-size: 14px;
}
.fs_16 {
  font-size: 16px;
}
.fs_18 {
  font-size: 18px;
}
.fs_20 {
  font-size: 20px;
}

.blue {
  color: #0857de;
}
/*------------------------------------------------------- position */
.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

/* --------------------------------------------------------space */
.mt_100 {
  margin-top: 100px;
}
.mt_50 {
  margin-top: 50px;
}
.mt_40 {
  margin-top: 40px;
}
.mt_30 {
  margin-top: 30px;
}
.mt_20 {
  margin-top: 20px;
}
.mt_10 {
  margin-top: 10px;
}
.mt_5 {
  margin-top: 5px;
}

.mb_50 {
  margin-bottom: 50px;
}
.mb_40 {
  margin-bottom: 40px;
}
.mb_30 {
  margin-bottom: 30px;
}
.mb_20 {
  margin-bottom: 20px;
}
.mb_10 {
  margin-bottom: 10px;
}
.mb_5 {
  margin-bottom: 5px;
}

.pt_50 {
  padding-top: 50px;
}
.pt_80 {
  padding-top: 80px;
}
.pt_100 {
  padding-top: 100px;
}
.pt_40 {
  padding-top: 40px;
}
.pt_30 {
  padding-top: 30px;
}
.pt_20 {
  padding-top: 20px;
}
.pt_10 {
  padding-top: 10px;
}
.pt_5 {
  padding-top: 5px;
}

.pb_50 {
  padding-bottom: 50px;
}
.pb_40 {
  padding-bottom: 40px;
}
.pb_30 {
  padding-bottom: 30px;
}
.pb_20 {
  padding-bottom: 20px;
}
.pb_10 {
  padding-bottom: 10px;
}
.pb_5 {
  padding-bottom: 5px;
}

/* --------------------------------------------------BORDER RADIUS */
.br_5 {
  border-radius: 5px;
}
.br_10 {
  border-radius: 10px;
}
.br_15 {
  border-radius: 15px;
}
.br_20 {
  border-radius: 20px;
}
.br_25 {
  border-radius: 25px;
}
.br_30 {
  border-radius: 30px;
}
.br_35 {
  border-radius: 35px;
}
.br_40 {
  border-radius: 40px;
}
.br_50 {
  border-radius: 50%;
}

/* ----------------------------------------------------------COLOR */
:root {
  --biru: #0857de;
  --biruMuda: #0857de;

  --light: #fef4e8;
  --abu_muda: #fef4e8;
  --black: #000;
}

.bg_abu {
  background-color: #d5dae0;
}
.bg_black {
  background-color: var(--black);
}
.login input {
  padding: 5px;
  background-color: #f9fbfc;
  border: none;
  outline: none;
}
.login input::placeholder {
  color: #b0b0b0;
  font-weight: 600;
  font-size: 14px;
}

.login .username {
  border-radius: 5px;
}
.login .username .bi,
.login .token .bi,
.login .newPassword .bi,
.login .confirmPassword .bi,
.login .password .bi {
  color: #b5b5b5;
}

/*_________________________ NAVBAR */
header {
  position: fixed;
  top: 0;
  transition: top 0.3s;
  width: 100%;
}

.navbarmenu .logo img {
  height: 40px;
}
.navbarmenu .menuNavigasi {
  font-size: 16px;
  font-weight: 600;
  color: #a39d9d;
}

.navbarmenu .menuNavigasi .nav-item a {
  color: #a39d9d;
}
.navbarmenu .menuNavigasi .nav-item a:hover {
  color: black;

  transition: 1s;
}

main {
  margin-top: 80px;
}
/*---------------------------------------------------------- MEDIA QUERY */

/* large */
@media (min-width: 992px) {
  .navbarmenu .menuNavigasi {
    margin-left: 30px;
  }
  .navbarmenu .menuNavigasi .nav-item {
    margin-right: 30px;
  }
  .tentang .tentang_img .gambar {
    padding-top: 90px;
  }
  .carousel-cell {
    width: 60%;
  }
  .sm-size {
    display: none !important;
  }
}
/* sm / md */
@media (max-width: 991px) {
  footer .navigasi_footer {
    justify-content: start !important;
    text-align: start !important ;
  }
  footer .navigasi_footer .md_text_style_start {
    text-align: start !important;
  }
  .beranda_header {
    margin-top: 100px !important;
  }
  .beranda_header .ilustrator {
    /* margin-top: 10px !important; */
    background-size: contain !important;
    background-position: center !important;
  }
  .lg-size {
    display: none !important;
  }
}

@media (max-width: 770px) {
  footer .navigasi_footer {
    margin-top: 30px;
  }
  .beranda_header .ilustrator {
    height: 70vh !important;
  }
  .beranda_lg {
    width: 100% !important;
  }
  .lg_d_none {
    display: block !important;
  }
}
@media (min-width: 771px) {
  .sm_d_none {
    display: block !important ;
  }
  .carousel-cell {
    height: 400px;
  }
}

.btn_red {
  background-color: #d64a4a;
  color: white;
  font-weight: 600;
  border-radius: 20px;
  padding: 5px 20px;
  border: none;
}
.btn_red:hover {
  transition: 0.8s;
  background-color: #ff0000;
}

.beranda_header .ilustrator {
  background-image: url("../img/ilustrator1.png");
  /* background-position: center; */
  /* background-size: cover; */
  height: 90vh;
  background-repeat: no-repeat;
  margin: 0;
}

footer ul li {
  text-decoration: none;
  color: white;
  list-style-type: none;
  font-size: 14px;
  margin-top: 7px;
}

footer ul li a {
  text-decoration: none;
  color: white;
  list-style-type: none;
  font-size: 14px;
  margin-top: 7px;
}

footer .socmed img {
  margin-right: 20px;
}

.carousel {
  background: none;
}

.carousel-cell {
  width: 70%;
  height: 200px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s,
    -webkit-filter 0.3s, filter 0.3s;
  transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: none;
  filter: none;
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: black;
}
.flickity-prev-next-button.no-svg {
  color: var(--biruMuda);
}
/* closer to edge */
.flickity-prev-next-button.previous {
  left: 0;
}
.flickity-prev-next-button.next {
  right: 0;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

/* tim developer */
.box_tim_develop {
  box-shadow: 0px 4px 4px rgba(56, 56, 56, 0.35);
  border-radius: 5px;
  background: white;
}
